img {
	border: 0;
}
* {
	padding: 0;
	margin: 0;
	list-style: none;
}
.slides {
	width: 100%;
	height: 700px;
	position: relative;
	overflow: hidden;
}
.slideInner {
	height: 700px;
	position: relative;
	left: 0;
	margin-left: 0;
}
.slideInner a {
	display: block;
	height: 700px;
	background-size: cover;
	background-position: center center;
	position: relative;
	text-align: center;
	z-index: 1;
}
.slideInner a div.img1 {
	width: 1070px;
	position: absolute;
	left: 50%;
	margin-left: -535px;
}
.slideInner a div.img2 {
	width: 1070px;
	position: absolute;
	top: 557px;
	left: 50%;
	margin-left: -535px;
}
.slideInner .slide3 .img2{
	top: 200px;
}
.slideInner .slide3 .img3{
	width: 181px;
	height: 286px;
	position: absolute;
	left: 50%;
	margin-left: 330px;
	top: 330px;
}
.nav {
	width: 1200px;
	position: relative;
	left: 50%;
	margin-left: -600px;
	display: none;
}
.nav a {
	display: block;
	width: 41px;
	height: 119px;
	opacity: .2;
	z-index: 9;
}
.nav a.prev {
	position: absolute;
	left: 0;
	top: -350px;
	margin-top: -58px;
	background: url(../img/ban_pre.png) no-repeat;
}
.nav a.next {
	position: absolute;
	right: 0;
	top: -350px;
	margin-top: -58px;
	background: url(../img/ban_next.png) no-repeat;
}
.navListBox {
	position: absolute;
	left: 50%;
	top: 675px;
	z-index: 99;
}
.navListBox li {
	width: 12px;
	height: 12px;
	float: left;
	margin-left: 5px;
	border-radius: 50%;
	overflow: hidden;
}
.navListBox li:first-child {
	margin-left: 0;
}
.navListBox li a {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 5px #666 inset;
}
.navListBox li a.active {
	background-color: #55ddff;
}